@model BookWorm.ViewModels.IBasePostInformation
<div class="span5">
    <img class="featured-post-image" src="@Model.FeaturedImage" />
</div>
<div class="span7">
    <p class="lead">@Model.Model.Title</p>
    <p>@Html.Raw(Model.Summary(230))</p>
    <a href="~/@Model.DetailsUrl">Read more</a>
</div>