<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="FunctionalTestURL" value="http://localhost:10827/" />
    <add key="emailSenderAddress" value="test-address-value"/>
    <add key="emailSenderPassword" value="test-password-value"/>
  </appSettings>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080;Database=BookTest" providerName="Raven.Client.Document.DocumentStore" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Client.Lightweight" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Abstractions" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Database" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <unitTestProvider name="MsTest.2010" />
  </specFlow>
  <system.web>
    <membership defaultProvider="BirdBrainMembership">
      <providers>
        <clear />
        <add name="BirdBrainMembership" connectionStringName="RavenDB" applicationName="/" minRequiredPasswordLength="6" maxInvalidPasswordAttempts="5" minRequiredNonAlphanumericCharacters="0" passwordFormat="Hashed" passwordStrengthRegularExpression="[\d\w].*" requiresQuestionAndAnswer="true" type="BirdBrain.BirdBrainExtendedMembershipProvider, BirdBrain" />
      </providers>
    </membership>
    <roleManager defaultProvider="BirdBrainRole" enabled="true">
      <providers>
        <clear />
        <add name="BirdBrainRole" connectionStringName="RavenDB" applicationName="/" type="BirdBrain.BirdBrainRoleProvider, BirdBrain" />
      </providers>
    </roleManager>
  </system.web>
</configuration>