@using BookWorm.Models.Validations
@model BookWorm.ViewModels.FilterInformation
 @Scripts.Render("~/Scripts/puku/clickableDiv.js")

<div id="filter">
    <div class="filter-header">
        <strong>Languages</strong>
    </div>
    @foreach (var language in ValidLanguage.ValidLanguages)
    {
        
        <div data-clickable-url=@Model.FilterUrl(language)>
            <input type="checkbox" @Html.Raw(Model.Languages.Contains(language) ? "checked=\"checked\"" : "")/>
            <span>@language</span>
        </div>
    }
</div>