
/* typography */
body {
    min-width: 1000px;
}
h1 {
    margin-bottom: 0px; 
}

.form-title {
    font-size: 1.2em;
}

.btn-group a {
    text-decoration: none;
}

.link-row {
    line-height: 35px;
    cursor: pointer;
}
.link-row:hover {
    background-color: #e3e3e3;
}

.list-seperator {
    width: 100%;
    margin: 10px 0px 10px 0px;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #e3e3e3;
}

a.book-detail-link {
    text-decoration: none;
}

.no-list-style {
    list-style: none;
    margin: 0px;
}

form {
    margin-bottom: 0px;
}

.some-space {
    margin-top: 50px;
    margin-bottom: 50px;
}

.some-small-space {
    margin-top: 10px;
    margin-bottom: 15px;
}
.hand-cursor {
    cursor: pointer;
}

/* Markdown */
.mdhelp {
    background-color: #FEFAE2;
    position: absolute;
    right: 0;
    width: 630px;
    color: black;
}

.mdhelp-tabs {
background-color: #F3EED5;
list-style-type: none;
margin: 0;
padding: 3px 0 0 3px;
}
.mdhelp-tab {
padding: 10px;
display: none;
line-height: 1.2;
}

/*Wrap text around images in news post edit preview*/
div.wmd-panel img {
    float: left;
    padding-right: 2em;
}

/*Wrap text around images in news post view*/
div.display-field img {
    float: left;
    padding-right: 2em;
}

.cbt {
clear: both;
}

.link-no-underline {
    text-decoration: none;
}

.anti-active {
    color: #000;
    cursor: default;
    background-color: transparent;
    border: 0px solid #DDD;
    border-bottom-color: transparent;
}


.navbar-inner {
    border: 0px solid #D4D4D4;
    background-color: rgb(250, 250, 250);
    background-color: rgba(250, 250, 250, 0.5);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 0px;
      background-image: -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(250,250,250,0.6));
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.6)), to(rgba(250,250,250,0.6)));
      background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.6), rgba(250,250,250,0.6));
      background-image: -o-linear-gradient(top, rgba(255,255,255,0.6), rgba(250,250,250,0.6));
      background-image: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(250,250,250,0.6));
      background-repeat: repeat-x;
     
}

.navbar .nav > li > a {
    color: black;
}

.dropdown-menu {
    font-size: 14px;
}

.nav-header {
    padding-left: 15px;
}



.navbar .nav > li > a {
    padding: 4px 10px 1px 15px;
    line-height: 30px;
}

.navbar .nav > li > a:hover {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(250,250,250,0));
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.8)), to(rgba(250,250,250,0.0)));
      background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(250,250,250,0.0));
      background-image: -o-linear-gradient(top, rgba(255,255,255,0.8), rgba(250,250,250,0.0));
      background-image: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(250,250,250,0.0));
      background-repeat: repeat-x;
}

.display-field {
    max-width: 900px;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 14px;
}

.discovery-menu {
    padding: 10px 0px 10px 0px;
}


.sub-title {
    font-size: 15pt;
}

.book-cover {
    position: relative;
    min-height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    border: 5px #ffffff solid;
    cursor: pointer;
    background-image: url(images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.book-cover-info-wrapper {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.book-image {
    width: 200px;
}

.book-image-wrapper {
    width: 200px;
    max-height: 300px;
    overflow: hidden;
}

.book-cover-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(250, 250, 250);
	/* RGBa with 0.6 opacity */
	background: rgba(250, 250, 250, 0.8);
}

.book-cover-hover-info {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 100%;
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(250, 250, 250);
	/* RGBa with 0.6 opacity */
	background: rgba(250, 250, 250, 0.8);
}

.book-cover-info .span4 {
    margin-left: 0%;
    width: 66.666666px;
}

.label-language, .label-genre, .label-age-range {
    padding-top: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 8pt;
    text-align: center;
    vertical-align: text-bottom;
    line-height: 10px;
}

.label-language {
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(136, 136, 136);
	/* RGBa with 0.6 opacity */
	background: rgba(136, 136, 136, 0.6);
    color: #ffffff;
}

.label-age-range{
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(73, 73, 73);
	/* RGBa with 0.6 opacity */
	background: rgba(73, 73, 73, 0.6);
    color: #ffffff;
}

.label-genre {
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(73, 73, 73);
	/* RGBa with 0.6 opacity */
	background: rgba(73, 73, 73, 1);
    color: #ffffff;
}
.book-image:hover ~ .book-cover-hover-info {
    display: block;
}

.default-cover-image {
    height: 300px;
    background-image: url('Images/blank_cover.png');
    background-repeat: repeat-y;
}

.default-cover-info {
    padding: 50px 20px 190px 30px;
    font-size: 18pt;
    color: #666666;
}

#default-image {
    margin-left: 0;
}



 /* allow room for 3 columns */
ol {
    width: 100%;
    list-style: none;
    margin: 0;
}

/* float & allow room for the widest item */
ol li {
    float: left;
    width: 230px;
    height: 320px;
}

/* stop the float */
br {
    clear: left;
}

/* separate the list from subsequent markup */
div.wrapper {
    margin-bottom: 1em;
}

.gray-body-row {
width: 100%;
    padding-bottom: 10px;
background-color: #f5f5f3;
}

.row {
    margin-left: 0px;
}

.row-fluid {
    margin-left: 0px;
}

.row-content {
padding-top: 10px;
padding-bottom: 10px;
max-width: 940px;
margin-left: auto;
margin-right: auto;
}

#body {
    background-color: #ffffff;
    clear: both;
    padding-top: 10px;
}

.header {
    display: block;
    background-image: url('/Images/CoverImage.png');
     background-repeat: no-repeat;
     background-position: top center;
     background-color: #000000;
}
.header .row-content {
    padding-top: 0px;
}

 .brand-area {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(250, 250, 250);
    /* RGBa with 0.6 opacity */
    background: rgba(250, 250, 250, 0.75);
     padding-left: 15px;
     padding-bottom: 10px;
}

 .categories a {
     margin-right: 15px;
     padding-bottom: 10px;
 }

 .editor-label {
     font-weight: bold;
 }

 label {font-weight: bold}

 .field-validation-error {
     color: red;
 }

 .filters {
    z-index: 1010;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    

}

 [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 0px;
}

 .accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

 .breadcrumb {
  padding: 0px 0px 15px;
  margin: 0 0 0px;
  list-style: none;
  background-color: transparent;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
     min-width: 300px;
 }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.featured-post-image {
    max-width: 220px;
}

.news {
    padding: 10px;
}
