@model BookWorm.ViewModels.BookPostInformation
<div class="span3">
    <img class="featured-post-image" src="@Model.Book.CoverImageUrl" />
</div>
<div class="span5">
    <p class="lead">@Model.Model.Title</p>
    <p>@Html.Raw(Model.Summary(400))</p>
    <a href="/Books/Details/@Model.Book.Id">Read more</a>
</div>