@{
    ViewBag.Title = "Home Page";
}

<span class="lead">What is PUKU</span>
<p>All you need to know about children's literature from southern Africa and beyond! Find books for your children, students or
    friends. Read reviews, find literary informationn. </p>

<p>Your source for daily 
    children's book news from around the world. <a href="/Home/About">About</a></p> 