@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome,</h1>
                <h2>to the new PUKU.co.za</h2>
            </hgroup>
            
        </div>
    </section>
}
<span class="lead">What is PUKU</span>
<p>All you need to know about children's literature from southern Africa and beyond! Find books for your children, students or
    friends. Read reviews, find literary informationn. </p>

<p>Your source for daily 
    children's book news from around the world. <a href="/Home/About">About</a></p> 