@using BookWorm.Helpers
@using BookWorm.Models

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul id="menu" class="nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                
                @{
                    var staticPages = ((List<StaticPage>) ViewBag.StaticPages);
                }
                @if (staticPages.Any())
                {
                    <li>@Html.ActionLink(staticPages.First().Title, "Details", "Pages", new { id = staticPages.First().Id, title = UrlUtils.ConvertTitleForUrl(staticPages.First().Title) }, null)</li>
                }
                <li><a href="#" onclick="toggleDiscoveryMenu()" style="color: #0088cc">Find a Book</a></li>
                <li><a id="BooksMenuLink" href="~/Books">Books</a></li>
                <li><a href="~/News">News</a></li>
                <li><a href="~/Authors">Authors</a></li>
                @if (Html.ViewContext.HttpContext.User.IsInRole(BookWorm.Models.Roles.Admin))
                {
                    <li><a href="~/Users">Users</a></li>
                }
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="~/Pages" id="moreMenuLink">
                        More
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @if (Html.ViewContext.HttpContext.User.IsInRole(BookWorm.Models.Roles.Admin))
                        {
                            <li><a href='~/Pages' id='PagesMenuLink'><i class='icon-th-list'></i> View List</a></li><li class='divider'><hr /></li><li class='nav-header'>Pages</li>
                        }
                       
                        @foreach (StaticPage page in ViewBag.StaticPages)
                        {
                            if(!page.IsDraft){
                                 <li>
                                     @Html.ActionLink(page.Title, "Details", "Pages", new { id = page.Id, title = UrlUtils.ConvertTitleForUrl(page.Title)}, null)
                                 </li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
